.card{
    margin-bottom: 20px; 

}


.precio{
    color: rgb(233, 63, 25);
   margin-left: 67px;
}
.img-fluid:hover{
    transform: scale(1.1); /* Ejemplo: aumenta el tamaño al 110% */
   
}
/*   Formulario
.custom-bg{
    background-color: #c4d5ec !important; 
    color: white;
    border-radius: 15px; 
    padding: 20px; 
  }
  
.boton{
    background-color: rgb(43, 120, 209) !important;
    border: rgb(19, 20, 20);
    border-radius: 8px;
   width: 200px; 
   height: 40px;
  padding: 10px;  
} */

/* Melissa */
.footer {
    background-color: rgb(16, 46, 130);
    color: #fff;
  
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
  
    text-align: center;
    
   
}

.footerweb{
    background-color: rgb(16, 46, 130);
    color: #fff;
    
    width: 100%;
    text-align: center;

}

.contact-section,
.social-section {
    flex: 1;
    margin: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.lightBtn {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 999;
  }




   /* Header */ 
   :root{
    --azul: rgb(16,46,130);
    --blanco: white;
    --negro: black;
    --azul1: rgb(24, 54, 137);
}

.navbar-brand{
    font-size: 8rem;
}

.todo-header{
    background-image: url(https://res.cloudinary.com/dtlgcfflw/image/upload/v1701471246/primer-plano-aparatos-plantas-decoracion_q0mjxe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    min-height: 30rem;
    width: 0 auto;
    margin-bottom: 5rem;
    border-bottom: solid .5rem var(--negro);
   
}

.navbar{
    background-color: var(--azul);
    border-bottom: solid .2rem var(--negro);
}

.logo{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--blanco);
    border: solid .3rem var(--blanco);
    border-top-right-radius: 1rem;
    background-color: var(--azul1);
    padding: .2rem;
}

.boton-header{
    background-color: var(--azul);
    font-weight: 700;
    color: var(--blanco);
    border: solid .15rem var(--blanco);
    border-radius: .4rem;
}

.boton-header:hover{
    background-color: var(--blanco);
    color: var(--azul);
    transition: .15s;
}

.nav-link{
    color: var(--blanco) !important;
}

