.card{
    margin-bottom: 20px; 

}
body{
    padding: 30px;
 
}

.precio{
    color: rgb(233, 63, 25);
   margin-left: 67px;
}
.img-fluid:hover{
    transform: scale(1.1); /* Ejemplo: aumenta el tamaño al 110% */
   
}
.custom-bg{
    background-color: #c4d5ec !important; 
    color: white; /* Color del texto */
    border-radius: 15px; /* Bordes redondeados para la tarjeta */
    padding: 20px; /* Añadir espaciado interno */
  }
  
.boton{
    background-color: rgb(43, 120, 209) !important;
    border: rgb(19, 20, 20);
    border-radius: 8px;
   width: 200px; /* Ajusta el ancho a tu preferencia */
   height: 40px;
  padding: 10px;  
}




